<h1>hello {{title}}</h1>
<h1>{{getData()}}</h1>
<h1>{{2+2}}</h1>
<button (click)="getName('abhishek')">Click me</button>
<br>

<style>
    .ptag {
        color: green;
    }
</style>
<!-- 1. internal/inline styling -->

<!-- here #name is template reference, it use to access attribute of specific element -->
<input type="text" placeholder="enter name" #name (keyup)="getInput(name.value)" />
<br><br>

<input type="text" placeholder="enter name1" #name1 />
<button (click)="getValue(name1.value)">Click to display</button>
<p>{{displayValue}}</p>

<p class="ptag">{{count}}</p> <!-- 2. component styling --> <!-- 3. global css/style.css styling -->
<button (click)="counter('add')">+</button>
<button (click)="counter('sub')">-</button>
<br><br>

<!-- binding property -->
<!-- if you chnage usernameDisabled as true both input will work but if you change it to false then input related property binding will work but not interpolation because interpolation will take "false" as a string. -->

<input type="text" placeholder="enter username" value={{username}} disabled={{usernameDisabled}} />
<!-- property bind example with interpolation, it accept string and numeric  -->

<input type="text" placeholder="enter username" [value]="username" [disabled]="usernameDisabled" />
<!-- property bind example, it accept string and numeric and boolean  -->
<br><br>

@if(show) {
<h1> Show will happend</h1>
} @else {
<h1> Show cancel</h1>
}

<div *ngIf="show; then welcomeMessage else loginMessage"></div>
<!-- imports: [CommonModule],  // Import CommonModule to use *ngIf otherwise you can use @if-->
<ng-template #welcomeMessage>
    <h1>Welcome back, User!</h1>
</ng-template>
<ng-template #loginMessage>
    <h1>Please log in</h1>
</ng-template>

<div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'">red color</h1>
    <h1 *ngSwitchCase="'green'">green color</h1>
    <h1 *ngSwitchDefault="">unknown color</h1>
</div>

<h2 *ngFor="let item of user">{{item}}</h2>

<!-- style binding - for dynamic purpose -->
<h1 [style.color]="textcolor">text color red</h1>

<form #userform="ngForm" (ngSubmit)="getUserData(userform.value)">
    <p>user form</p>
    <input type="text" ngModel name="username" placeholder="enter user name"><br>
    <input type="text" ngModel name="password" placeholder="enter password"><br>
    <button>submit</button>
</form>
<br>

<!-- toggle functionality -->
<h1 *ngIf="toggleval">heading tag</h1>
<button (click)="toggle()">toggle</button>

<!-- send data to parent to child - surname -->
<!-- send data to child to parent - childtoparentEvent -->
<app-profile [surname]="surname" (childtoparentEvent)="childtoparent($event)"></app-profile>
<br><br>

<!-- Two-way Data Binding -->
<input type="text" [(ngModel)]="name">
<h1>{{name}}</h1>

<!-- Pipes -->
<h2>{{title | uppercase | slice: 0: 5}}</h2>
<h2>{{date | date: "fullDate"}}</h2>
<h2>{{jsonUser | json}}</h2>
<h2>{{2.3 | number: "3.3-5"}}</h2>
<!-- 3 is before decimal and 3-5 is range after decimal like what we have to show -->
<h2>{{20 | currency: "USD"}}</h2>
<!-- custom pipe -->
<h2>{{20 | app : 100}}</h2>






<app-login></app-login>
<app-dashboard></app-dashboard>
<app-user></app-user>